DEBUG=True
SECRET_KEY=change-me
RENDER=False
USE_SQLITE_FOR_RENDER=False
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
CSRF_TRUSTED_ORIGINS=
SQLITE_PATH=

DB_NAME=radar_ofertas
DB_USER=sa
DB_PASSWORD=YourStrongPassword123!
DB_HOST=db
DB_PORT=1433

MSSQL_SA_PASSWORD=YourStrongPassword123!

OPENAI_API_KEY=
MELI_CLIENT_ID=
MELI_CLIENT_SECRET=
MELI_REDIRECT_URI=http://localhost:8000/mercadolibre/oauth/callback/
MELI_BASE_URL=https://api.mercadolibre.com
MELI_AUTH_BASE_URL=https://auth.mercadolibre.com.ar
MELI_SITE_ID=MLA
MELI_SEARCH_LIMIT_DEFAULT=20
MELI_REQUEST_TIMEOUT=15
MELI_USER_AGENT=radar_ofertas/1.0
MELI_ACCESS_TOKEN=
MELI_REFRESH_TOKEN=
MELI_AFFILIATE_TAG=
MELI_AFFILIATE_BASE_URL=
