DEBUG=True
SECRET_KEY=change-me

DB_NAME=radar_ofertas
DB_USER=sa
DB_PASSWORD=YourStrongPassword123!
DB_HOST=db
DB_PORT=1433

MSSQL_SA_PASSWORD=YourStrongPassword123!

OPENAI_API_KEY=
MELI_CLIENT_ID=
MELI_CLIENT_SECRET=
MELI_REDIRECT_URI=
